-   name: Check wkhtmltopdf download
    stat: path=/usr/local/bin/wkhtmltopdf
    register: wkhtmltopdf_install
   
-   name: Download wkhtmltopdf
    register: wkhtmltopdf
    when: wkhtmltopdf_install.stat.exists == False
    get_url: url={{ wkhtmltopdf_url }}
             dest=/tmp/wkhtmltopdf.deb
   
-   name: Install wkhtmltopdf
    when: wkhtmltopdf_install.stat.exists == False
    apt: deb=/tmp/wkhtmltopdf.deb
   