/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
.vagrant
/web/.htaccess
/web/js/compiled/
/web/css/compiled/
/web/uploads/
/app/Resources/protectedUploads/
/docs/
/var/