-   name: Install php7-cli
    become: yes
    apt: pkg=php7.0-cli state=latest

-   name: Setup php.ini
    become: yes
    lineinfile: dest="/etc/php/7.0/cli/php.ini"
                regexp="{{ item.reg }}"
                line="{{ item.line }}"
    with_items: "{{ php_ini_settings }}"