---
- hosts: all
  become: true
  vars:
    web_server: apachephp
    timezone: America/Phoenix
    max_nesting_level: 300
    memory_limit: 512M
  vars_files:
    - [ "vars/{{ enviroment }}_vars.yml", "vars/common.yml" ]
  roles:
    - init
#    - php5-cli
    - php7-cli
    - apache
#    - php5
#    - php5-fpm
    - php7
    - php7-fpm
    - { role: mysql, when: "enviroment == 'dev' or enviroment == 'test'" }
    - composer
#    - php5common
    - php7common
    - node
    - wkhtmltopdf
#    - { role: phpmyadmin, when: "enviroment == 'dev' or enviroment == 'test'" }
#    - jackrabbit
#    - supervisor
#    - vim
    - bash