imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
        gc_probability: 0
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: true
    #bundles:        [ ]
    #java: /usr/bin/java
    filters:
        uglifyjs:
            node: %node_path%
            bin: %uglify_js_path%
        uglifycss:
            node:  %node_path%
            bin: %uglify_css%
            cssrewrite: ~
        less:
            node:  %node_path%
            node_paths: [%node_module_path%]
            bin: %less_path%
            apply_to: \.less$
        
# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
     
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: KMJ\ToolkitBundle\Entity\User
    # registration:
       # form:
           # type: kmj_toolkit_usertype
        
kmj_toolkit:
    enckey: %toolkit_enckey%
    administrator:
        firstname: %toolkit_admin_firstname%
        lastname: %toolkit_admin_lastname%
        username: %toolkit_admin_username%
        email: %toolkit_admin_email%
        password: %toolkit_admin_password%

h4cc_alice_fixtures: ~
        
kmj_sync:
    ssh:
      host: %kmj_sync_ssh_host%
      port: %kmj_sync_ssh_port%
      username: %kmj_sync_ssh_username%
      path: %kmj_sync_ssh_path%
    dir: %kernel.root_dir%/cache/sync
    backups: %kernel.root_dir%/Resources/backups
    compression: tar
    numberofbackups: 3
    database:            
       type: mysql      
       host: %database_host%        
       database: "%database_name%"        
       user: "%database_user%"      
       password: "%database_password%" 
