parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     kmj
    database_user:     root
    database_password: password

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    toolkit_admin_firstname: Dev
    toolkit_admin_lastname: User
    toolkit_admin_username: devusr
    toolkit_admin_email: dev@example.com
    toolkit_admin_password: password

    node_path:  /usr/bin/node
    node_module_path: /usr/local/lib/node_modules
    uglify_js_path: /usr/local/bin/uglifyjs
    uglify_css: /usr/local/bin/uglifycss
    less_path: /usr/local/bin/lessc
    wkhtmltopdf: /usr/local/bin/wkhtmltopdf

    kmj_sync_ssh_host: localhost
    kmj_sync_ssh_port: 22
    kmj_sync_ssh_username: root
    kmj_sync_ssh_path: /
