-   name: Install PHP Packages
    become: yes
    apt: pkg="{{ item }}" state=latest
    with_items: php_7_packages
      
-   name: Remove xdebug from CLI
    become: yes
    ignore_errors: yes
    file: path=/etc/php/7.0/cli/conf.d/20-xdebug.ini state=absent force=yes
