---
- name: Install Apache
  sudo: yes
  apt: pkg=apache2 state=latest

- name: Install Apache Modules
  apache2_module: state=present name={{ item }}
  notify: restart apache
  with_items:
    - rewrite
    - vhost_alias
    - headers
    - expires
    - filter
    - ssl

- name: Change default apache2.4 site
  sudo: yes
  template: src=vhost24.conf.tpl dest=/etc/apache2/sites-available/{{ ws_vhost_file }}.conf
  notify: restart apache
  
- name: Disable default site
  sudo: yes
  command: a2dissite 000-default.conf
  notify: restart apache
  
-   name: Change owner of apache lib files
    sudo: yes
    command: chown -R {{ user }} /var/lib/apache2/
    
- name: Enable site
  sudo: yes
  command: a2ensite {{ ws_vhost_file }}
  notify: restart apache
    
-   name: Change apache user to {{ user }}
    notify: restart apache
    lineinfile: dest=/etc/apache2/envvars
                regexp='export APACHE_RUN_USER=www-data'
                line='export APACHE_RUN_USER={{ user }}'
                
-   name: Change apache group to {{ user }}
    lineinfile: dest=/etc/apache2/envvars
                regexp='export APACHE_RUN_GROUP=www-data'
                line='export APACHE_RUN_GROUP={{ user }}'
    notify: restart apache
        
-   name: Create SSL key folder
    sudo: yes
    file: path="/etc/apache2/ssl"
          state="directory"
          owner="root"
    
-   name: Generate SSL Key
    sudo: yes
    command: openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/apache2/ssl/{{servername}}.key -out /etc/apache2/ssl/{{servername}}.crt -subj '/CN={{servername}}/O=Vagrant VM/C=US'
    notify: restart apache
    args:
        creates: /etc/apache2/ssl/{{servername}}.key
